{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": [
    "tw`([^`]*)",
    "tw=\"([^`]*)",
    "tw='([^`]*)",
    "tw.style\\(([^)]*)\\)"
  ],
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "printWidth": 80
}
